body{
    background-color: yellow;
}
h2 {
    text-align: right;
    color: blue;
    font-family: Times New Roman, serif;
    font-style: italic;
    border-bottom : solid rgb(208, 22, 22);
    background-color: aqua;
    padding-top: 15px;
    margin-top: 50px;

}