<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="number" v-model="num">
        
        <p>numero: {{num}}</p>
        <h3>con v-show</h3>
        <p v-show="num > 0">Es mayor a cero</p>
        <p v-show="num < 0">Es menor a cero</p>
        <p v-show="num == 0" >Es cero</p>
        <h3>con v-if</h3>
        <p v-if="num > 0">Es mayor a cero</p>
        <p v-else-if="num < 0">Es menor a cero</p>
        <p v-else >Es cero</p>

        

    </div>
    <script type="module">
        import { createApp, ref } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'
        createApp({
            data() {
                return {
                    num: 0
                }
            }
        }).mount('#app')
    </script>
</body>
</html>